/* Banner Related Styles */
.banner {
    text-align: center;
    position: relative;
}

.banner-img {
    height: 50%;
    width: 70%;
    filter: brightness(50%);
}

.banner-text-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* Discount Banner Start */

.discount-banner {
    text-align: center;
}

.db-part-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.db-part-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -50px;
}

.db-part-3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -10px;
}

.db-img-part {
    width: 652.9px;
    height: 350px;
}