/* Banner Related Styles */
.banner {
    text-align: center;
    position: relative;
}

.banner-img {
    height: 50%;
    width: 70%;
    filter: brightness(50%);
}

.banner-text-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* Discount Banner Start */

.discount-banner {
    text-align: center;
}

.db-part-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.db-part-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -50px;
}

.db-part-3 {
    color: #070211;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -10px;
}

.db-img-part {
    width: 652.9px;
    height: 350px;
}

/* Midnight Banner Part */
.midnight-banner {
    text-align: center;
    position: relative;
}

.midnight-banner-img {
    width: 1000px;
    height: 400px;
    filter: brightness(40%);

}

.mdb-text-1 {
    position: relative;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    F
}

.mdb-text-2 {
    position: relative;
    position: absolute;
    top: 34%;
    left: 34%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.mdb-text-3 {
    position: relative;
    position: absolute;
    top: 58%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.mdb-text-4 {
    position: relative;
    position: absolute;
    top: 65%;
    left: 30.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.join-btn {
    position: relative;
    position: absolute;
    top: 82%;
    left: 19%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    background-color: orange;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    border-radius: 5px;
    border: 0;
}

.join-btn:hover {
    color: green;
    background: transparent;
    cursor: pointer;
}

.midnight-banner-img-2 {
    position: absolute;
    top: 60%;
    left: 75.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    height: 297px;
    width: 250px;

}

.date-time {
    height: 280px;
    display: block;
    align-items: center;
    border: 1px solid none;

    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.details {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    margin-top: 0px;
}

.coming-soon {
    display: flex;
    gap: 70px;
    height: 460px;
    border: 1px solid none;
    margin: 100px 0px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.left,
.right {
    display: block;
}

.image {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 30px;

}

.left-column-title {
    margin-top: 0px;
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left-item-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.left-item-description {
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.right-item-title {
    margin-top: 100px;
    margin-bottom: 5px;
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.right-item-description {
    width: 380px;
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.right {
    margin-left: 20px;
}

.join-btn-2 {


    color: black;
    background-color: orange;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    border-radius: 5px;
    border: 0;
    margin-left: 50%;
}

.join-btn-2:hover {
    color: green;
    background: transparent;
    cursor: pointer;
}

.funtional-container {
    width: auto;

    text-align: center;
}

.what {
    color: black;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.holiday {
    color: #F00;

    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.sale {
    color: black;
    margin-top: -10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.donor {
    color: rgba(7, 2, 17, 0.60);
    margin-top: -30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px
}

.dicsount-container {
    display: flex;
    justify-content: end;
}

.dicsount-container-sub-1 {
    display: flex;
}

.dicsount-container-sub-2 {
    margin-top: 113px;
    margin-left: -157px;
    position: absolute;
    z-index: 1;
}

.dicsount-container-sub-3 {
    position: relative;
    margin-bottom: -4px;
}

.rec-2 {
    position: absolute;
    margin-top: -270px;
    margin-left: 50px;
}



.awesome-portfolio-text{
    padding: 20px;
}
.aw-h3 {
    color: #F00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aw-h1 {
    color: #070211;
    font-family: sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
}

.aw-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: -10px;
    
}

.awesome-portfolio-img{
    padding: 20px;
}

.row1{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.row2{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.row1 img:hover{
    border-radius: 100%;
    border: 5px solid rgb(14, 63, 21);
}
.row2 img:hover{
    border-radius: 100%;
    border: 5px solid rgb(14, 63, 21);
}

.sub-cls{
    height: 515px;
    display: block;
    align-items: center;
    border: 1px solid none;
    margin: 110px 140px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-cls-1{
    margin-left: 370px;
    margin-right: 580px;
}
.sub-cls-2{
    margin-left: 215px;
    margin-right: 404px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    width: 512px;
}
.sub-cls-3{
    margin-left: 35px;
    margin-right: 212px;
    margin-bottom: 20px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}
.mail{
    width: 648px;
    height: 72px;
    margin-left: 80px;
    margin-right: 336px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
}
.mail-fr-1{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
    border: none;
}
.subscribe{
    border: none;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: 438px;
    margin-right: 336px;
}
.mail-fr-2{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 280px;
    margin-right: 336px;
    padding-top: 24px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 24px;
    border: none;
}

.footer-container{
    height: 70vh;
    background-color: black;
}

.footer-part-1{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0px 40px;
}

.contact-div-1 {
    display: flex;
    
}

.con-p{
    margin-right: 15px;
    color: white;
}

.social-icon{
    text-align: center;
    margin-top: 15px;
    letter-spacing: 15px;

}

.social-icon img{
    width: 40px;
}

.con-d{
    margin-left: 38px;
    color: white;
}

.last-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.btn-lst{
    margin-right: 100px;
}
